article header.article-meta{
    background-color: #738130;
    background-image: url("cover_2000.jpg");
    background-size: cover;
    background-position: 45% 60%;
    height: 100%;
    min-height: 1000px;
    color: white;
    text-shadow: 0 0 10px black;
    padding-top: 650px;
}

.blackboard section:not(:first-of-type){
    clear: both;
    border-top: 3px solid #444;
    padding-top: 1em;
    margin-top: 1em;
}

section > p:first-of-type:first-line{
    font-weight: bold;
    font-family: "Merriweather Sans", "Raleway", sans-serif;
}