article header.article-meta{
    background-color: rgb(164,170,200);
    height: 100%;
    min-height: 400px;
    color: white;
    text-shadow: 0 0 10px black;
    padding-top: 250px;
}

.blackboard aside.pullquote{
    border-color: rgb(164,170,200) !important;
}

#uuu::before{
    text-align: center;
    display: block;
    content: "◆◆◆◆◆";
    line-height: 20px;
    font-size: 20px;
    margin: 20px 10px;
}

#uuu::after{
    text-align: center;
    display: block;
    content: "◆◆◆◆◆";
    line-height: 20px;
    font-size: 20px;
    margin: 20px 10px;
}

.blackboard h3+p:not(.nodrop):first-letter{
    color: rgb(164,170,200) !important;
}