article header.article-meta{
    background-color: #A5A69D;
    background-image: url(cover_2000.jpg);
    background-size: cover;
    background-position: 30% 0;
    height: 100%;
    min-height: 1000px;
    color: white;
    text-shadow: 0 0 10px black;
    padding-top: 650px;
}