article header.article-meta{
    background-color: #9F693E;
    background-image: url(cover_2000.jpg);
    background-position: 60%;
    background-size: cover;
    height: 100%;
    min-height: 1000px;
    padding-top: 700px;
    color: white;
    text-shadow: 0 0 10px black;
}